@page
@{
    ViewData["Title"] = "About Us";
}
<html>
<head>
    <title>About Us</title>
    <style>
        .container {
            position: relative;
        }

        img {
            float: left;
        }

        h3 {
            color: #6A8283;
            font-size: 35px;
            font-weight: bold;
            font-family: cursive;
        }

        p {
            font-size: 20px;
        }

        ul.a {
            list-style-type: circle;
        }
    </style>
</head>
<body style="background-color:#F9F0EA;">
    <div class="container">
        <img src="~/css/AboutUs.jpg" alt="aboutUsbanner" width="1000" height="200" />
    </div>
    <br />
    <br />
    <h3>Mission</h3>
    <p>A Global e-commerce platform to show many people handcrafted products!</p>
    <p>
        <img src="~/css/about1.jpg" alt="product" style="width:170px;height:170px;margin-right:15px;">
        Handcrafted products hold so much more meaning to anything. It gives it that extra bit of love and tender.
        The Mission is to create a global e-commerce platform that connects each and every talented artisan with a discerning audience, offering a curated selection of exquisite craftwork.
        We dedicate this attention to the beauty and in the same way celebrate how appealing these handcrafted products are from artisans around the globe.
    </p>
    <br />
    <h3>Vision</h3>
    <p>
        The dream is to bridge the gap between artisans and customers.
        <img class="b" src="~/css/about2.jpg" alt="product" style="width:170px;height:170px;margin-right:15px;">
        Not only is this a platform for purchasing and showcasing but also a platform where seamless and an enjoyable shopping experience is made possible for customers
        The goal is to have a platform that is accessible globally and that a delightful shopping experience.
    </p>
    <br />
    <br />
    <h3>Approach</h3>
    <p>
        With regards to and maintaining the vision, the importance remains of technology. With regards to cloud computing and various service models, the team is well-versed and educated.
        <ul class="a">
            <li>Scalability</li>
            <li>Accessibility</li>
            <li>User-friendly platform</li>
        </ul>
        These are all service models that are built. The understanding of both the artisan and customer is well prioritized and a platform that caters to their requirements while also maintaining a positive user experience.
    </p>
    <br />
    <h3>Some challenges and solutions</h3>
    <p>
        With the building to KhumaloCraft Emporium, challenges are faced. From making crucial decisions on cloud services models to designing and efficient database
        schema for product information and user data. With all these in mind, we are committed to overcoming these obstacles.
    </p>
    <br />
    <h3>Advanced features</h3>
    <p>
        What do we strive for at Khumalocraft Emporium? <br />
        We strive to go beyond the ordinary!<br />
        Some of these advanced functions and services which we would want to incorporate to further enhance user experience are:<br />
        <ul class="a">
            <li>
                Advanced search capabilities
            </li>
            <li>
                Personalized notifications, and
            </li>
            <li>
                Serverless services
            </li>
        </ul>
        We continue to explore more and new innovative ways especially on our platform.
    </p>
    <br />
    <h3>Our Goal At KhumaloCraft Emporium</h3>
    <p>
        Our goal and aim at KhumaloCraft Emporium is to be more than just a marketplace, but where we inspire and also aspire to be a hub of creativity.
        Artisans showcase their talents and where customers discover unique and authentic handcrafted products from anywhere around the world.
        KhumaloCraft Emporium is designed to be accessible, storing artisans' craftwork and also allowing customers to globally access and order their
        creations with ease.
    </p>
</body>
</html>
