@page
@model ST10045251_POE_PART1.Pages.Contact_UsModel
@{
    ViewData["Title"] = "Contact Us";
}

<body style="background-color:#F9F0EA;">
<h1>Contact Us</h1>

@if(Model.hasData)
    {
        <p>Hello @Model.firstName @Model.lastName</p>
        <p>We received your following message:</p>
        <p>"@Model.message"</p>
    }


<div class= "container">
    <form method="POST">

    <label for="fname">First Name</label><br />
    <input type="text" id="fname" name="firstname" /><br />

        <label for="lname">Last Name</label><br />
        <input type="text" id="lname" name="lastname" /><br />

        <label for="message">Message</label><br />
       <textarea id="message" name="message" style="height:200px; width: 200px"></textarea><br />

        <input type="submit" value="Submit" />
        </form>
</div>
</body>