@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
<style>
      .multicolortext {
      background-image: linear-gradient(to left, #19100A, #986D5A, #382130, #54384B, #7C5969 );
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
      }

      
      h1 {
          text-align: left;
          font-family: "Times New Roman", Times, serif;
            font-size: 40px;
            font-weight: 3000;
            font-weight: bold;
      }
      h2 {
          text-align: left;
            font-size: 20px;
      }
      img {
          float: right;
      }
    </style>
  </head>
<body style="background-color:#F9F0EA;">

    <br>
    <br>
    <br>
    <br>
    <img src="~/css/KhumaloCraft logo.jpg" alt="logo" style="width:300px;height:300px;margin-left:20px;">
    <br>
    <br>

<h1>
    <span class="multicolortext">Welcome to KhumaloCraft Emporium!</span>
</h1>

    <br>
    <br>
<h2>We are a Global e-commerce platform that showcases handcrafted products.
        <br> Have a look around to see what we do and who we are!
</h2>
    
</body>


