@page
@{
    ViewData["Title"] = "My Work";
}
<!DOCTYPE html>
<html>
<head>
    <h3>My Work</h3>
    <style>
        h3 {
            color: #6A8283;
            font-size: 35px;
            font-weight: bold;
            font-family: cursive;
        }
        .gallery {
            margin: 5px;
            border: 1px solid #ccc;
            float: left;
            width: 200px; 
            height: 200px;
            overflow: hidden;
        }

            
            .gallery img {
                width: 100%; 
                height: 100%; 
                object-fit: cover; 
            }

       
        .desc {
            padding: 15px;
            text-align: center;
        }

        p {
            font-size: 20px;
        }
    </style>
</head>
<body style="background-color:#F9F0EA;">

    <h1>My work</h1>
    <p>
        Below are some of the work that KhumaloCraft does. We have a variety of craft and to satisfy any needs, contact us and we can help and create anything your heart desires!
        Whether it be a home decoration or a gift to any person.
    </p>
    <div class="gallery">
        <a target="_blank" href="~/css/images/image 01.jpeg">
            <img src="~/css/images/image 01.jpeg" alt="craft">
        </a>
    </div>

    <div class="gallery">
        <a target="_blank" href="~/css/images/image 02.jpeg">
            <img src="~/css/images/image 02.jpeg" alt="craft">
        </a>
    </div>

        <div class="gallery">
        <a target="_blank" href="~/css/images/image 03.jpeg">
            <img src="~/css/images/image 03.jpeg" alt="craft">
            </a>
            
        </div>

        <div class="gallery">
        <a target="_blank" href="~/css/images/image 04.jpeg">
            <img src="~/css/images/image 04.jpeg" alt="craft" >
            </a>
            
        </div>

    <div class="gallery">
        <a target="_blank" href="~/css/images/image 05.jpeg">
            <img src="~/css/images/image 05.jpeg" alt="craft" >
        </a>
        
    </div>

    <div class="gallery">
        <a target="_blank" href="~/css/images/image 06.jpeg">
            <img src="~/css/images/image 06.jpeg" alt="craft" >
        </a>
        
    </div>

    <div class="gallery">
        <a target="_blank" href="~/css/images/imagountainse 07.jpeg">
            <img src="~/css/images/image 07.jpeg" alt="craft" >
        </a>
        
    </div>

    <div class="gallery">
        <a target="_blank" href="~/css/images/image 08.jpeg">
            <img src="~/css/images/image 08.jpeg" alt="craft">
        </a>
        
    </div>

    <div class="gallery">
        <a target="_blank" href="~/css/images/image 09.jpeg">
            <img src="~/css/images/image 09.jpeg" alt="craft" >
        </a>
        
    </div>

    <div class="gallery">
        <a target="_blank" href="~/css/images/image 10.jpeg">
            <img src="~/css/images/image 10.jpeg" alt="craft" >
        </a>
        
    </div>

    <div class="gallery">
        <a target="_blank" href="~/css/images/image 11.jpeg">
            <img src="~/css/images/image 11.jpeg" alt="craft" >
        </a>
        
    </div>

    <div class="gallery">
        <a target="_blank" href="~/css/images/image 12.jpeg">
            <img src="~/css/images/image 12.jpeg" alt="craft" >
        </a>
        
    </div>

    <div class="gallery">
        <a target="_blank" href="~/css/images/image 13.jpeg">
            <img src="~/css/images/image 13.jpeg" alt="craft" >
        </a>
        
    </div>

    <div class="gallery">
        <a target="_blank" href="~/css/images/image 14.jpeg">
            <img src="~/css/images/image 14.jpeg" alt="craft" >
        </a>
        
    </div>

    <div class="gallery">
        <a target="_blank" href="~/css/images/image 15.jpeg">
            <img src="~/css/images/image 15.jpeg" alt="craft" >
        </a>
        
    </div>

    <div class="gallery">
        <a target="_blank" href="~/css/images/image 16.jpeg">
            <img src="~/css/images/image 16.jpeg" alt="craft" >
        </a>
       
    </div>

    <div class="gallery">
        <a target="_blank" href="~/css/images/image 17.jpeg">
            <img src="~/css/images/image 17.jpeg" alt="craft" >
        </a>
        
    </div>

</body>
</html>
